body {
    font-family: sans-serif;
    font-size: 12px;
    background-color: #aaa;
}

fieldset {
    margin-bottom: 10px;
    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
}

legend {
    background-color: white;
    color: #000;
    padding: 3px 6px;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 8px;
    border: 2px solid black;
    border-radius: 6px;
}

#main-container {
    max-width: 1080px;
    margin: 0 auto;
}

#scan-preview>div {
    
    display: flex;
    justify-content: center;
}

#scan-preview {
    width: 420px;
    height: 594px;
    margin: 0 auto;
    border: 1px solid gray;
}

#scan-preview .content {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#scaned-images-buttons {
    margin: 4px;
    padding: 4px;
}

.clean { clear: both }

.scan {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-grow: 1;
}

.scan fieldset {
    width: 100%;
}

.scan-controls div {
    display: flex;
    padding: 4px 0 4px 0;
}

.scan-controls div label {
    width: 120px;
    display: inline-block;
}

.scan-controls div select {
    width: 100%;
}

.scan-controls div button {
    width: 100%;
}

.scan-controls button {
    height:50px;
    font-weight:bold
}

.scan-controls select {
    height: 32px;
    font-weight:bold;
}

#scan-control-range-brightness {
    width: 100%;
}

#scan-control-btn-preview, #scan-control-btn-scan {
    background-image: url(/static/img/scan-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#scan-control-btn-scan-reinit {
    background-image: url(/static/img/reload-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#scan-control-btn-rotate-image-left {
    background-image: url(/static/img/rotate-l-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#scan-control-btn-rotate-image-right {
    background-image: url(/static/img/rotate-r-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#scan-control-btn-crop-image {
    background-image: url(/static/img/crop-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#scan-control-btn-crop-coord {
    background-image: url(/static/img/crop-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#images-button-delete-all {
    background-image: url(/static/img/delete-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 260px;
    height: 44px;
}

#scan-control-status {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding-top: 40px;
    color: #aaa;
}

.image-container {
    width: 200px;
    height: 280px;
    float: left;
    border: 2px solid gray;
    border-radius: 6px;
    background-color: #eee;
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image img {
    max-width: 200px;
    max-height: 200px;
}

.image {
    display: flex;
    justify-content: center;
}

.image-desc {
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;*/
}

.filename { font-weight: bold; }
.filesize { white-space: nowrap; text-align: right; }

.image-buttons button {
    width: 100%;
}

#status-command-history, #status-console-history {
    height: 250px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 250px;
}

.history {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.history div {
    width: 100%;
}

#version {
    max-width: 1080px;
    margin: 0 auto;
    text-align: right;
}