<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScanImage WEB UI</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/scan-icon.png')}}" />
    <link href="{{ url_for('static', filename='css/app.css')}}?v={{data.version}}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/croppr.css')}}?v={{data.version}}" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/app.js')}}?v={{data.version}}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils.js')}}?v={{data.version}}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/croppr.js')}}?v={{data.version}}"></script>
    <script type="application/javascript">
        let app = null;
        jQuery("document").ready(function () {
            let config = {
                apiURL: "/api",
                scanedImagesURL: "/scanimage",
            }
            app = new App(jQuery, "main-container", config);
        })
    </script>
</head>
<body>
    <div id="main-container"></div>
	<div id="version">Scanimage WEB UI v{{data.version}}</div>
</body>
</html>
